@model JOBPORTAL.Models.JobSeeker

@{
    ViewBag.Title = "Create Employeer";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="w-full max-w-md mx-auto p-6 mt-10 mb-20">
    <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
        <div class="p-4 sm:p-7">
            <div class="text-center">
                <h2 class="block text-1xl font-bold text-gray-800 dark:text-white uppercase">Add Candidate</h2>
            </div>
            <div class="mt-5">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <!-- Form -->
                    <form>
                        <div class="grid gap-y-4">
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobSeekerUsername, "Username", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobSeekerUsername, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobSeekerUsername, "", new { @class = "hidden text-xs text-red-600 mt-" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobSeekerName, "Full name", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobSeekerName, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobSeekerName, "", new { @class = "hidden text-xs text-red-600 mt-" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobSeekerContactNo, "Phone", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobSeekerContactNo, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobSeekerContactNo, "", new { @class = "hidden text-xs text-red-600 mt-" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobSeekerEmail, "Email address", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobSeekerEmail, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobSeekerEmail, "", new { @class = "hidden text-xs text-red-600 mt-" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobSeekerPassword, "Password", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobSeekerPassword, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobSeekerPassword, "", new { @class = "hidden text-xs text-red-600 mt-" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.EmployerId, "Employer", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.DropDownList("EmployerId", null, htmlAttributes: new { @class = "py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.EmployerId, "", new { @class = "hidden text-xs text-red-600 mt-" })
                            </div>
                            <!-- End Form Group -->
                            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                + Create
                            </button>
                        </div>
                    </form>
                    <!-- End Form -->
                }
            </div>
        </div>
    </div>
    <div class="mt-10">
        <a href="/JobSeekers/Index" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0z" />
            </svg>
            Back to Job Seekers
        </a>
    </div>
</main>
