@model IEnumerable<JOBPORTAL.Models.JobSeeker>

@{
    ViewBag.Title = "Profile";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <div class="relative max-w-7xl w-full mx-auto">
        <div class="flex flex-col mt-10 mb-10">
            <div class="flex align-center justify-between mb-10">
                <div>
                    <span class="mb-2 text-sm font-normal text-blue-600 mb-5">
                        Hello @Html.DisplayFor(modelItem => item.JobSeekerName) !
                    </span>
                    <h2 class="text-3xl font-extrabold text-slate-900 tracking-tight uppercase">
                        Profile
                    </h2>
                </div>
                <div>
                    <a href="/JobSeekers/LogoutSeeker" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-500 text-white hover:bg-red-600 disabled:opacity-50 disabled:pointer-events-none">
                        Logout
                        <svg xmlns="http://www.w3.org/2000/svg" width="22xpx" height="22px" viewBox="0 0 24 24"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C15.2713 2 18.1757 3.57078 20.0002 5.99923L17.2909 5.99931C15.8807 4.75499 14.0285 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C14.029 20 15.8816 19.2446 17.2919 17.9998L20.0009 17.9998C18.1765 20.4288 15.2717 22 12 22ZM19 16V13H11V11H19V8L24 12L19 16Z" fill="currentColor"></path></svg>
                    </a>
                </div>
            </div>
            <div class="relative overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                    <thead class="bg-gray-50 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="px-6 py-6 text-start text-xs font-medium text-gray-500 uppercase">Full name</th>
                            <th scope="col" class="px-6 py-6 text-start text-xs font-medium text-gray-500 uppercase">Username</th>
                            <th scope="col" class="px-6 py-6 text-start text-xs font-medium text-gray-500 uppercase">Email</th>
                            <th scope="col" class="px-6 py-6 text-start text-xs font-medium text-gray-500 uppercase">Phone</th>
                            <th scope="col" class="px-6 py-6 text-start text-xs font-medium text-gray-500 uppercase">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd:bg-white even:bg-gray-100 dark:odd:bg-slate-900 dark:even:bg-slate-800">
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-normal text-gray-800 dark:text-gray-200">
                                @Html.DisplayFor(modelItem => item.JobSeekerName)
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-normal text-gray-800 dark:text-gray-200">
                                @Html.DisplayFor(modelItem => item.JobSeekerUsername)
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-normal text-gray-800 dark:text-gray-200">
                                @Html.DisplayFor(modelItem => item.JobSeekerEmail)
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-normal text-gray-800 dark:text-gray-200">
                                @Html.DisplayFor(modelItem => item.JobSeekerContactNo)
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-start text-sm font-normal">
                                @Html.ActionLink("Edit", "Edit", new { id = item.JobSeekerId }, new { @class = "py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" })
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
