@model JOBPORTAL.Models.JobSeeker

@{
    ViewBag.Title = "Profile";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Card Section -->
<div class="max-w-4xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Card -->
    <div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
        <div class="mb-8">
            <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                Profile
            </h2>
            <p class="text-sm text-gray-600 dark:text-gray-400">
                Hello, <span class="font-bold">@Html.DisplayFor(model => model.JobSeekerUsername) @Session["SeekerUsername"]</span>!
            </p>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.JobSeekerId)
            <form>
                <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">
                    <div class="sm:col-span-3">
                        <label class="inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200">
                            Profile photo
                        </label>
                    </div>
                    <!-- End Col -->
                    <div class="sm:col-span-9">
                        <div class="flex items-center gap-5">
                            <img class="inline-block h-16 w-16 rounded-full ring-2 ring-white dark:ring-gray-800" src="https://preline.co/assets/img/160x160/img1.jpg" alt="Image Description">
                            <div class="flex gap-x-2">
                                <div>
                                    <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                        <svg class="flex-shrink-0 w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" x2="12" y1="3" y2="15"></line></svg>
                                        Upload photo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-3">
                        @Html.LabelFor(model => model.JobSeekerName, "Full name", htmlAttributes: new { @class = "inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200" })
                    </div>
                    <!-- End Col -->
                    <div class="sm:col-span-9">
                        <div class="sm:flex">
                            @Html.EditorFor(model => model.JobSeekerName, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", placeholder = "" } })
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-3">
                        @Html.LabelFor(model => model.JobSeekerUsername, "Username", htmlAttributes: new { @class = "inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200" })
                    </div>
                    <!-- End Col -->
                    <div class="sm:col-span-9">
                        <div class="sm:flex">
                            @Html.EditorFor(model => model.JobSeekerUsername, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", placeholder = "" } })
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-3">
                        @Html.LabelFor(model => model.JobSeekerEmail, "Email", htmlAttributes: new { @class = "inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200" })
                    </div>
                    <!-- End Col -->
                    <div class="sm:col-span-9">
                        @Html.EditorFor(model => model.JobSeekerEmail, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", placeholder = "" } })
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-3">
                        <div class="inline-block">
                            @Html.LabelFor(model => model.JobSeekerContactNo, "Phone", htmlAttributes: new { @class = "inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200" })
                        </div>
                    </div>
                    <!-- End Col -->
                    <div class="sm:col-span-9">
                        <div class="space-y-2">
                            @Html.EditorFor(model => model.JobSeekerContactNo, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", placeholder = "" } })
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="sm:col-span-3">
                        @Html.LabelFor(model => model.JobSeekerPassword, "Password", htmlAttributes: new { @class = "inline-block text-sm text-gray-800 mt-2.5 dark:text-gray-200" })
                    </div>
                    <!-- End Col -->
                    <div class="sm:col-span-9">
                        <div class="space-y-2">
                            @Html.EditorFor(model => model.JobSeekerPassword, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", placeholder = "" } })
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
                <div class="w-full flex gap-5 justify-end mt-10">
                    <a href="/Jobs/Index/" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0z" />
                        </svg>
                        Apply Jobs
                    </a>
                    <a href="/JobSeekers/Create/" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M11 2H9v3h2z" />
                            <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                        </svg>
                        Update Profile
                    </a>
                </div>
            </form>
        }
    </div>
    <!-- End Card -->
</div>
<!-- End Card Section -->