@model JOBPORTAL.Models.Job

@{
    ViewBag.Title = "Post a Job";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="w-full max-w-[50rem] mx-auto p-6 mt-10 mb-20">
    <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm">
        <div class="p-10">
            <div class="text-center mb-10">
                <h1 class="block text-2xl font-bold text-gray-800 uppercase">Post a job</h1>
            </div>
            <div class="mt-5">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <!-- Form -->
                    <div class="grid gap-5">
                        <!--// Grid -->
                        <div class="grid grid-cols-2 gap-5">
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobName, "Job title", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobName, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobName, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobRequirements, "Requirements", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobRequirements, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobRequirements, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <!--// Grid -->
                        <div class="grid grid-cols-2 gap-5">
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobPosition, "Poisition", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobPosition, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobPosition, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobLocation, "Location", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobLocation, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobLocation, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <!--// End Grid -->
                        <!--// Grid -->
                        <div class="grid grid-cols-2 gap-5">
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobWorkingHour, "Working hours (i.e 8, 10, 12)", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobLocation, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobWorkingHour, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobCategoryId, "Category", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.DropDownList("JobCategoryId", null, htmlAttributes: new { @class = "py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobCategoryId, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                        </div>
                        <!-- // End Grid -->
                        <!--// Grid -->
                        <div class="grid gap-5">
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobSalary, "Salary (i.e 30000, 20000)", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobSalary, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobSalary, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group -->
                            <div>
                                @Html.LabelFor(model => model.JobDescription, "Description", htmlAttributes: new { @class = "block text-sm mb-2 dark:text-white" })
                                <div class="relative">
                                    @Html.EditorFor(model => model.JobDescription, new { htmlAttributes = new { @class = "py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none", placeholder = "" } })
                                    <div class="hidden absolute inset-y-0 end-0 flex items-center pointer-events-none pe-3">
                                        <svg class="h-5 w-5 text-red-500" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" aria-hidden="true">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "hidden text-xs text-red-600 mt-2" })
                            </div>
                            <!-- End Form Group -->
                            <!-- Form Group Hidden -->
                            <div class="hidden">
                                @Html.LabelFor(model => model.EmployerId, htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => @Session["EmployerId1"], new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EmployerId, "", new { @class = "text-danger" })
                            </div>
                            <!-- End Form Group -->
                            <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                + Post
                            </button>
                        </div>
                    </div>
                    <!-- End Form -->
                }
            </div>
        </div>
    </div>
    <div class="flex mt-10">
        <a href="/Jobs/" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0z"></path>
            </svg>
            Back to Jobs
        </a>
    </div>
</main>
